.navbar-brand {
display: inline-block;

  padding-top: $navbar-brand-padding-y;
  padding-bottom: $navbar-brand-padding-y;
  margin-right: $navbar-padding-x;
  font-size: $navbar-brand-font-size;
  line-height: inherit;
  white-space: nowrap;

color: $navbar-light-active-color;}
.nav-item {
letter-spacing : .2em;
font-size : 14px;
text-transform : uppercase;
}
.dropdown-item {
letter-spacing : .2em;
font-size : 14px;
text-transform : uppercase;
}