{% extends 'base.html' %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="#">SCHOOL STORE</a>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'storeapp:login' %}">LOGIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'storeapp:register' %}">REGISTER</a>
      </li>


        <li class="nav-item dropdown  {% if 'storeapp' in request.path %}active{% endif %}">

             <a class="nav-link dropdown-toggle" href=""  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            department
             </a>
             {% for  cat in links %}
            <a class="dropdown-item" href="{{cat.get_url}}">{{cat.dep_name}}</a>
             {% endfor %}
    </li>

    </ul>
  </div>
</nav>
{% endblock %}

